body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #1553d8, 1%, #77bedf 99%);
    background-image: url(/img/close-up-portrait-traveling-woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza todo o conteúdo horizontalmente */
    height: 7em; 
    background-color: #013375;
    padding: 0 20px; 
}

.logo_btn {
    position: absolute; /* Fixa o logo à esquerda */
    left: 20px; /* Alinhamento à esquerda */
}

.btn {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center;
    gap: 80px;
}

.btn div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.cabecalho .logo_btn a img {
    display: block;
    height: 200px;
    object-fit: cover;
}

.content {
    height: 45vh;
    width: 100vh;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #013375b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif;
}

h4{
    font-family: sans-serif;
}

.texto_h1{
    height: 10vh;
    width: 55vh;
    text-align: center;
}

.texto_h4{
    height: 4vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo{
   
    height: 25vh;
    width: 70vh;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
}

.subcampo{
    
    height: 100%;
    width: 100%;
}

.split_subcampo{
    display: flex;
    align-items: center;
    height: 50%;
}

.split_subcampo2{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width: 100%vh;
}

.preco{
    margin-left: 40vh;
}

.botao_div{
    height: 12vh;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.selected {
    background-color: #ff9959cc;
}

.botao_div:focus {
    background-color: #ff9959cc;
  }
  
  .botao_div:focus ~ .botao_div {
    background-color: initial;
  }



.button-18 {
    margin-top: 3vh;
    height: 6vh;
    width: 25vh;
  align-items: center;
  background-color: #FF9859;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #FF9859;
  color: #ffffff;
}

.button-18:active {
  background: #ad673b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

a{
    color: #FFF;
    text-decoration: none;
}